.container{
    display: flex;
    flex-direction: column;
}

.sug{
    margin-top: 12px;
    padding: 4px 16px;
    display: flex;
    flex-direction: row;
}
.sug .sug-user{
    color: #8E8E8E;
    font-weight: 600;
    flex-grow: 1;
}
.sug .see-all{
    color: #262626;
}
.userProfile{
    width: 32px;
    height: 32px;
    border-radius: 50%;
    background-image: url("/assets/dasha_tarran.jpg");
    background-size: cover;
}
.item-user{
    display: flex;
    flex-direction: column;
}